canvas {
    background-color: #fff;
    border: 1px solid black;
    /* NOTE: This size is changed if in iframe - see below '.iframe canvas' */
    width: 800px;
    height: 800px;
    display: block;
  }